@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color: #F9F6EE;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

body{
    width: 100%;
    overflow-x: hidden;
}


/* Navbar */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #FAF9F6;
    box-shadow: 0 5px 15px rgba(64, 255, 0, 0.06);
    background-color: rgb(255, 255, 255)0.7; /* Adjust the last value (0.7) for opacity */
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 0 0 10px;
    position: relative;
    margin: 30px;
}

#navbar li a{
    text-decoration: none;
    position: relative;
    font-size: 14px;
    font-weight: 600px;
    color: #515151;
    transition: 0.3s ease;
}

a .logobendera{
    max-width: 20px;
    padding-top: 8px;
}

#navbar li a::before{
    content: '';
    position: absolute;
    background: #7dff13;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

#navbar li a:hover:before{
    width: 100%;
    height: 10%;
}

#header .logo{
    max-width: 200px;
    max-height: 180px;
}

#navbar li a.active {
    font-weight: 500;
    color: #7dff13;
}

.toggle-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.toggle-btn i {
    font-size: 24px;
    color: #333; 
}

.toggle-btn:hover i {
    color: #555; 
}

/* index.html */
/* popup */
/* Modal Popup Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: hidden;
    backdrop-filter: blur(5px); /* Background blur effect */
}

.modal.show {
    display: block; /* Show the modal */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Change max-width to fit content */
    width: auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content img{
    max-width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    width: 40px; /* Set width of the close button */
    height: 40px; /* Set height of the close button */
    border: 1px solid #777; /* Add black border */
    border-radius: 50%; /* Make it round */
    background-color: white; /* Set background color to white */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Increase font size */
}

/* Disable scrolling when modal is open */
body.modal-open {
    overflow: hidden;
}

/* CSS for mobile devices */
@media only screen and (max-width: 600px) {
    .modal-content img {
        max-width: 100%;
        height: auto;
    }

    /* Change the image source for mobile devices */
    .modal-content img {
        content: url('img/PERHATIAN.png');
    }
}

#hero-section {
    background-image: url("img/hauling-road.jpg");
    height: 100vh;
    width: calc(100% - 60px); /* Adjust width to account for margin */
    margin: 30px 0 30px 30px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; /* Changed to flex-start to reduce the gap */
    box-sizing: border-box;
    border-radius: 18px;
}

#hero-section .judul {
    width: 100%;
    margin: 200px 0 0 100px; /* Adjust margin as needed */
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;/* Enable flex wrap */
}

#hero-section h2 {
    margin: 0; /* Remove margin */
    color: white;
    font-size: 36px;
}

#hero-section h2 span {
    color: #73BF41; /* Change color to green */
}

#hero-section h2 span.batuhitam {
    color: rgb(44, 44, 44); /* Change color to green */
}

#hero-section p {
    margin-bottom: 20px;
    color: white;
}

#hero-section .button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #73BF41;
    text-decoration: none;
    border-radius: 5px;
    max-width: fit-content;
}

#hero-section .link-boxes {
    display: flex;
    width: 100%;
    margin: 0; /* Remove margin */
    margin-top: auto; /* Push link boxes to the bottom */
}

#hero-section .link-box-a, 
#hero-section .link-box-b {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    background-color: rgba(0, 0, 0, 1);
    text-decoration: none;
    font-size: 18px;
    height: 100px;
}

#hero-section .link-box-a {
    border-radius: 0 0 0 18px;
}

#hero-section .link-box-b {
    border-radius: 0 0 18px 0;
}

#hero-section .link-box-a a, 
#hero-section .link-box-b a {
    text-decoration: none;
    color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
    #hero-section {
        padding: 0 20px; /* Reduce padding for smaller screens */
    }

    #hero-section .judul {
        margin: 100px 0 0 0; /* Adjust margin for smaller screens */
        justify-content: center; /* Center align items horizontally */
    }

    #hero-section h2 {
        font-size: 28px; /* Adjust font size for smaller screens */
    }

    #hero-section p {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    #hero-section .button {
        padding: 8px 16px; /* Adjust button padding for smaller screens */
    }

    #hero-section .link-boxes {
        flex-direction: column;
    }

    #hero-section .link-box-a, 
    #hero-section .link-box-b {
        border-radius: 0;
        margin-bottom: 10px;
        height: auto;
    }

    #hero-section .link-box-b {
        border-radius: 0 0 18px 18px;
    }
}

/* Styles for "Produk Kami" Section */
#produk-kami {
    padding: 50px 0; /* Add spacing above and below */
    text-align: center; /* Center-align text */
}

#produk-kami h2 {
    margin-bottom: 30px; /* Add bottom margin */
}

#produk-kami .container {
    display: flex;
    justify-content: space-between; /* Position left and right divs */
    align-items: center; /* Center vertically */
    max-width: 1200px;
    margin: 0 auto; /* Center align */
    background-color: #73BF41;
    padding: 35px;
    border-radius: 18px;
}

#produk-kami .left {
    width: 45%; /* Set width of left div */
    text-align: center; /* Align text to center */
}

#produk-kami .left p {
    color: white;
}

#produk-kami .left h2 {
    margin-bottom: 20px; /* Add bottom margin */
    color: white;
}

#produk-kami .left ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove padding */
    margin-bottom: 20px; /* Add bottom margin */
    color: white;
}

#produk-kami .left ul li {
    margin-bottom: 10px; /* Add space between items */
}

#produk-kami .right {
    width: 45%; /* Set width of right div */
}

#produk-kami .right img {
    width: 100%; /* Make image fill the width of the div */
    display: block; /* Remove top and bottom spacing */
}

/* Yellow Button */
.button-yellow {
    display: inline-block;
    padding: 10px 20px;
    color: black;
    background-color: rgb(255, 255, 36);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; /* Add top margin */
}

.button-yellow:hover {
    background-color: #e6e600; /* Change color on hover */
}

/* Responsive Design for "Produk Kami" Section */
@media (max-width: 768px) {
    #produk-kami .container {
        flex-direction: column; /* Stack left and right divs vertically */
        padding: 20px; /* Adjust padding for smaller screens */
    }

    #produk-kami .left, 
    #produk-kami .right {
        width: 100%; /* Set width to 100% for smaller screens */
        margin-bottom: 20px; /* Add space between stacked divs */
    }

    #produk-kami .right {
        margin-bottom: 0; /* Remove bottom margin for the last element */
    }
}

/* new about */
#abt-hero {
    background-image: url("img/pit1.jpg");
    height: 40vh;
    width: 100%;
    width: calc(100% - 60px); /* Adjust width to account for margin */
    margin: 30px 0 30px 30px;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#abt-hero h2{
    padding-bottom: 5px;
    color: white;
}

#abt-hero h1{
    color: #ffffff;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#abt-hero p{
    color: white;
}
/* CSS for vision-mission section */
#vision-mission .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#vision-mission .vision-img {
    flex: 1;
    margin-right: 50px;
}

#vision-mission .vision-img img {
    max-width: 80%;
    border-radius: 15px;

}

#vision-mission .mission-txt {
    flex: 1;
}

#vision-mission .mission-txt h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#vision-mission .mission-txt p {
    font-size: 18px;
    line-height: 1.6;
}



/* CSS for core-values section */
#core-values .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

#core-values .core-value {
    text-align: center;
    flex-basis: 20%;
}

#core-values .core-value h1 {
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 150px;
}

#core-values .core-value p {
    font-size: 18px;
    line-height: 1.6;
}

.diversity-bg {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #93C572; /* Warna hijau untuk keberagaman */
}

.one-family-bg {
    background-color: #73BF41; /* Warna hijau untuk satu keluarga */
}

.excellence-bg {
    background-color: #93d160; /* Warna hijau untuk keunggulan */
}

.integrity-bg {
    background-color: #73BF41; /* Warna hijau untuk integritas */
}

.teamwork-bg {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #62bd26; /* Warna hijau untuk kerja tim */
}


/* about page */

#abt-us .abt-ctn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px;
    background: #F9F6EE;
    justify-content: space-evenly;
    align-items: center;
}

#abt-us .abt-ctn .abt-txt{
    color: #93C572;
    max-width: 750px;
    letter-spacing: 3px;
}

#abt-us .abt-ctn .abt-img img{
    max-width: 450px;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
    border-radius: 20px;
}

/* core value */
#value{
    padding: 100px;
}

#value h2{
    text-align: center;
}

.value-row{
    display: flex;
    flex-direction: column;
    /* background-color: #73BF41; */
    opacity: 75%;
    border-radius: 25px;
    /* box-shadow: 0 10px 10px rgba(0,0,0,.5); */
    padding: 50px 5px 50px 5px;
}

#value .value-col{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    flex-wrap: wrap;
}

.value-anagram{
    width: 75px;
    height: 75px;
    text-align: center;
    justify-content: center;
    background-color: #73BF41;
    border-radius: 12px;
    margin-bottom: 10px;
}

.value-anagram h1{
    color: #F9F6EE;
    font-size: 60px;
    width: 100%;
    height: auto;
}


.value-txt{
    background-color: #F9F6EE;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
}

.value-txt p{
    font-size: 15px;
}
/* timeline */

#timeline-section {
    background-color: #F9F6EE;
    min-height: 100vh;
    padding: 100px 15px;
}

#timeline-section h2{
    text-align: center;
    margin-bottom: 50px;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #93C572;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #73BF41;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 18px;
    color: #73BF41;
    margin: 6px 0 15px;
    font-weight: bold;
}

.timeline-content {
    background-color: #93C572;
    padding: 30px;
    border-radius: 5px;
}

.timeline-content h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* responsive */
@media (max-width: 767px) {
    .timeline-items::before {
        left: 7px;
    }
    
    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }
    
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }
    
    .timeline-dot {
        left: 0;
    }
}

/* CSS for map section */
#map{
    margin: 0 100px 0px 100px;
    padding: 30px;
}

#map h2{
    text-align: center;
    margin-bottom: 50px;
}

#map .map-ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: center; 
    flex-wrap: wrap;
}

/* CSS for each map container */
.map-ho,
.map-site {
    margin-bottom: 0px;
    width: 100%;
    height: 800px;
    justify-content: center;
}

/* CSS for embedded maps */
.map-ho iframe,
.map-site iframe {
    width: 100%;
    height: 600px; 
    border-radius: 25px;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);

}

.map-ho h3, 
.map-site h3{
    text-align: center;
    margin-bottom: 20px;
}

#goals{
    background-color: #F9F6EE;
}

.goals-ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.visi{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap;
}

.misi{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    flex-wrap: wrap-reverse;
}

.garisvm {
    border-color: #93C572;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 30%;
}

#management{
    margin: 20px 100px 20px 100px;
}

#management h2{
    text-align: center;
}

#management .management-ctn{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#management .management-ctn h4{
    text-align: center;
}

#management .management-ctn .m-img{
    margin: 20px;
    max-width: 350px;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    background: whitesmoke;
}

#management .management-ctn .m-img img{
    width: 100%;
    height: auto;
    transition: 0.3s ease;

}

#management .management-ctn .m-img img:hover{
    transform: scale(1.03);
    /* z-index: -1; */
}


#management .management-ctn .m-txt{
    width: 100%;
    height: auto;
    position: relative;
    padding: 25px 0 25px 0;
    /* z-index: 1; */
    background: #73BF41;
}

#management .management-ctn .m-txt:hover{
    transition: 0.3s ease;
}

/* operasional.html */
#opr-hero {
    background-image: url("img/pit1.jpg");
    height: 40vh;
    width: 100%;
    width: calc(100% - 60px); /* Adjust width to account for margin */
    margin: 30px 0 30px 30px;
    background-position: center;
    background-size: cover;
    border-radius: 18px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#opr-hero h2{
    padding-bottom: 5px;
    color: white;
}

#opr-hero h1{
    color: #ffffff;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#opr-hero p{
    color: white;
}

#opr-principle {
    padding: 50px;
    background-color: #F9F6EE; /* Warna hijau untuk latar belakang */
    border-radius: 10px;
}

.container {
    text-align: center; 
}

.opr-container{
    text-align: center;
    background-color: #99d075;
    border-radius: 15px;
    margin: 0 30px 0 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.dropdown {
    display: inline-block;
    margin: 20px;
}

.dropdown-btn {
    background-color: #73BF41; /* Warna hijau untuk tombol dropdown */
    color: white;
    width: 150vh;
    padding: 20px; /* Mengatur padding agar tombol dropdown lebih panjang */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 150vh;
    background-color: #F9F6EE;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    padding: 12px;
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#our-operation {
    background-color: #F9F6EE; /* Warna latar belakang hijau muda */
    padding: 80px 0;
    text-align: center;
    color: #fff; /* Warna teks */
}

#our-operation .container {
    position: relative;
    z-index: 1;
}

#our-operation h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.operation-image {
    width: 1000px;
    border-radius: 10px; /* Tambahkan border radius */
    margin-top: 20px; /* Jarak antara gambar dan teks */
}

#location {
    background-color: #F9F6EE; /* Warna latar belakang putih */
    padding: 80px 0;
    text-align: center;
    color: #000; /* Warna teks hitam */
}

.peta-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content {
    flex: 1;
    padding-right: 20px;
}

.left-content img{
    max-width: 650px;
}

.right-content {
    flex: 1;
    padding-left: 20px;
    text-align: left; /* Teks rata kiri */
}

.right-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.right-content p {
    font-size: 1rem;
    line-height: 1.6;
}



/* career.html */

#career-section {
    height: 60vh; /* Change height to 60vh */
    width: calc(100% - 60px); /* Adjust width to account for margin */
    margin: 30px 0 30px 30px;
    background-image: url("img/patok.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; /* Changed to flex-start to reduce the gap */
    box-sizing: border-box;
    border-radius: 18px;
    /* padding: 50px 80px 0 0; */
}

#career-section .judul {
    width: 100%;
    text-align: right;
    margin: 100px 50px 0 0;
}

#career-section h2 {
    margin: 0; /* Remove margin */
    color: white;
    font-size: 36px;
}

#career-section h2 span {
    color: #73BF41; /* Change color to green */
}

#career-section h2 span.batuhitam {
    color: rgb(44, 44, 44); /* Change color to green */
}

#career-section p {
    margin-bottom: 20px;
    color: white;
}


#join .join-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px;
    background:linear-gradient(180deg, #F9F6EE,#73BF41, #F9F6EE);
    justify-content: space-evenly;
    align-items: center;
}

#join .join-container .join-txt{
    max-width: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#join .join-container .join-txt .job-btn{
    max-width: 250px;
    border-radius: 8px;
    background-color: whitesmoke;
    border: solid 2px #73BF41;
    font-size: 25px;
    color: #73BF41;
    padding: 0px 15px;
    margin: 10px;
    transition-duration: 0.4s;
}

#join .join-container .join-txt .job-btn:hover{
    max-width: 250px;
    background-color: #73BF41;
    font-size: 25px;
    color: whitesmoke;
    transform: scale(1.05);
    letter-spacing: 0.1;
    cursor: pointer;
}

#join .join-container .join-img img{
    max-width: 500px;
}

#career-content{
    display: flex;
    background-color: #F9F6EE;
    text-align: center;
    padding: 0px 50px;
}


/* gallery page */
#about {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 50px 20px 50px 20px;
    /* background: linear-gradient(180deg, #73BF41, #EDF3A8); */
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);

}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid gainsboro;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bullet.active {
    background-color: #1eff43;
    box-shadow: #fff;
}

.content-1 {
    padding: 50px;
    justify-content: center;
}

#gallery-hero {
    background-image: url("img/bg3.png");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#gallery-hero h2{
    padding-bottom: 5px;
    color: white;
}

#gallery-hero h1{
    color: #ffffff;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#gallery-hero p{
    color: white;
}

#gallery{
    padding: 40px;
}

#gallery {
    text-align: center;
}
#gallery h2{
    text-align: center;
    margin-bottom: 35px;
}

.gallery-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.gallery-ctn .gallery-content{
    margin-right: 25px;
}

#gallery .gallery-ctn .gallery-content h4{
    text-align: center;
    margin-bottom: 15px;
}

.gallery-ctn .gallery-content img{
    max-width: 300px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
    margin-bottom: 15px;
}

/* css for gallery image picker */
::selection {
    color: #fff;
    background: #73BF41;
}

.custom-wrapper {
    margin: 100px auto;
    max-width: 1100px;
}

.custom-wrapper nav {
    display: flex;
    justify-content: center;
}

.custom-items-wrapper {
    display: flex;
    max-width: 720px;
    width: 100%;
    justify-content: center;
}

.custom-item {
    padding: 7px 25px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: #73BF41;
    border-radius: 50px;
    border: 2px solid #73BF41;
    transition: all 0.3s ease;
    margin: 10px;
}

.custom-item.active,
.custom-item:hover {
    color: #fff;
    background: #73BF41;
}

.custom-gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.custom-gallery .custom-image {
    width: calc(100% / 4);
    padding: 7px;
}

.custom-gallery .custom-image span {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.custom-gallery .custom-image img {
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.custom-gallery .custom-image:hover img {
    transform: scale(1.1);
}

.custom-gallery .custom-image.hide {
    display: none;
}

.custom-gallery .custom-image.show {
    animation: animate 0.4s ease;
}

@keyframes animate {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.custom-fullscreen-preview-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 700px;
    width: 100%;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.custom-fullscreen-preview-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
}

.custom-desc {
    max-width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.custom-preview-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 15px 13px 10px;
}

.custom-category-title {
    display: flex;
    align-items: center;
}

.custom-category-title span {
    margin-right: 10px;
    font-size: 18px;
    font-weight: 400;
}

.custom-category-title p {
    font-weight: 1000;
    margin: 0;
}

.custom-close-icon {
    color: #73BF41;
    cursor: pointer;
    font-size: 30px;
}

.custom-close-icon:hover {
    color: #7dff13;
}

.custom-fullscreen-preview-box .custom-image-box {
    width: 100%;
    display: flex;
}

.custom-image-box img {
    width: 100%;
    border-radius: 0 0 3px 3px;
}

.custom-fullscreen-preview-box .custom-desc {
    max-height: 80px;
    overflow: hidden;
}

.custom-fullscreen-preview-box .custom-desc.expanded {
    max-height: none;
}

.read-more-link {
    display: block;
    margin-top: 5px;
    color: blue;
    cursor: pointer;
}

.read-more-link:hover {
    text-decoration: underline;
}

.custom-shadow {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}

.custom-shadow.show {
    display: block;
}

@media (max-width: 1000px) {
    .custom-gallery .custom-image {
        width: calc(100% / 3);
    }
}

@media (max-width: 800px) {
    .custom-gallery .custom-image {
        width: calc(100% / 2);
    }
}

@media (max-width: 700px) {
    .custom-wrapper nav .custom-items-wrapper {
        max-width: 600px;
    }
    
    nav .custom-items-wrapper .custom-item {
        padding: 7px 15px;
    }
}

@media (max-width: 600px) {
    .custom-wrapper {
        margin: 30px auto;
    }
    
    .custom-wrapper nav .custom-items-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    nav .custom-items-wrapper .custom-item {
        margin: 5px;
    }
    
    .custom-gallery .custom-image {
        width: 100%;
    }
}

/* sales */

#sales-section {
    margin: 30px 0 30px 30px;
    width: calc(100% - 60px); /* Adjust width to account for margin */
    background-color: black;
    height: 60vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 18px;
}

.sales-ctn {
    display: flex;
    align-items: center;
    width: 100%;
}

.judul {
    flex: 1;
    padding: 0 30px;
    color: white;
}

.image {
    flex: 1;
    height: 100%;
    background-color: #000;
    background-position: center;
    background-size: cover;
}

#sales-section .judul {
    width: 100%;
    margin: 10px 0 0 100px; /* Adjust margin as needed */
}

#sales-section h2 {
    margin: 0; /* Remove margin */
    color: white;
    font-size: 36px;
}

#sales-section p {
    color: white;
}

#sales-section .button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #73BF41;
    text-decoration: none;
    border-radius: 5px;
}

#product-details {
    background-color: #F9F6EE;
    padding: 80px 0;
    text-align: center;
}

#product-details h2 {
    margin-bottom: 30px;
}

.product-description {
    margin-bottom: 40px;
}

.partner-advantages {
    margin-top: 20px;
    background-color: #b3dcaa;
    margin: 30px;
    border-radius: 15px;
    padding: 30px;
}

.partner-advantages ul {
    list-style: none;
    padding: 0;
    margin-left: 100px;
}

.partner-advantages li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.partner-advantages li i {
    margin-right: 10px;
    font-size: 24px;
    color: #73BF41; /* Ubah warna ikon sesuai kebutuhan */
}

#contact-sales {
    background-color: #f2f2f2; /* Warna latar belakang abu-abu muda */
    padding: 80px 0;
    text-align: center;
    color: #000; /* Warna teks hitam */
}

.info-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content {
    flex: 1;
    background-color: #73BF41;
    padding: 15px;
    border-radius: 15px;
    padding-right: 20px;
    margin-left: 80px;
    text-align: left; /* Teks rata kiri */
}

.right-content {
    flex: 1;
    padding-left: 20px;
}

.right-content img {
    max-width: 600px;
    border-radius: 10px; /* Border radius 10px */
}

.left-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.left-content p {
    font-size: 1rem;
    line-height: 1.6;
}

.left-content i {
    margin-right: 10px; /* Ruang antara ikon dan teks */
}



/* commitment page */
#commitment{
    padding: 20px 50px 20px 50px;
}

#commitment h2{
    text-align: center;
}

#commitment .com-container{
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#commitment .com-container .com-ctn img{
    background: black;
    margin: 50px;
}

#commitment .com-container .com-ctn p{
    margin: 50px;
}


/* footer */
footer{
    width: 100%;
    position: absolute;
    bottom: 1;
    background: rgba(115, 195, 72, 0.1);
    /* background: #73C348; */
    /* background: linear-gradient(360deg, #93C572, #EDF3A8); */
    color: black;
    padding: 50px 0 30px;
    /* border-top-left-radius: 105px ; */
    /* border-top-right-radius: 105px; */
    font-size: 13px;
    line-height: 20px;
    /* border: 2px solid black; */
    /* box-shadow: 0px 5px 6px rgba(242, 255, 168, 0.5) inset; */
}

footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

} 

footer .row .footer-logo{
    width: 250px;
}

footer .row .col p{
    color: black;
}

footer .row .col ul li{
    list-style: none;
    margin-bottom: 10px;
}

footer .row .col ul li a {
    transition: transform 0.3s ease; /* Added transition property */
    display: block; 
}

footer .row .col ul li a:hover {
    transform: scale(1.05);
    /* color: black; */
}

footer .row .col ul .contactner{
    list-style: none;
    margin-bottom: 10px;
}

footer .row .col ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

footer .col{
    flex-basis: 25%;
    padding: 10px;
}

footer .col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
    font-size: 18px;
}

footer .col:nth-child(2), footer .col:nth-child(3){
    flex-basis: 15%;
}

footer .row .col .icon-container{
    display: flex;
    flex-direction: row;
}

footer .row .col ul .icon-socmed i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border: 2px solid black;
    color: black;
    background: transparent;
    margin-right: 15px;
    border-color: 10px solid black;
    cursor: pointer;
}

footer .row .col ul .icon-socmed i:hover{
    color: #73BF41;
    background-color: black;
    transition: 0.3s ease;
    transform: scale(1.05);
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.copyright p{
    font-size: 15px;
    color: black;
}

.job-container{
    background:linear-gradient(360deg,#F9F6EE, #73BF41, #F9F6EE);
    padding:15px 9%;
    padding-bottom: 100px;
    flex-wrap: wrap;
}

.job-container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:black;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.job-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.job-container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.job-container .box-container .box img{
    height: 80px;
}

.job-container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.job-container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.job-container .box-container .box .btn{
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.job-container .box-container .box .btn:hover{
    background: #fff;
    color: #222;
    border: 1px solid #222;
    cursor: pointer;
}

.job-container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.02);
    transition: 0.3s ease;
}


@media (max-width:768px){
    .container{
        padding:20px;
    }
}
/* media query */

@media screen and (max-width: 1197px) {
    /* Adjust breakpoint as needed */

    #header {
        padding: 20px;
    }

    #navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: #F9F6EE;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    #navbar.active {
        display: flex;
    }

    #navbar li {
        padding: 20px 0;
        margin: 0;
    }

    #navbar li a {
        font-size: 18px;
    }

    #header .logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }
}

#hero {
    background-image: url("img/bg1.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 5px;
    color: white;
}

#hero h1{
    color: #ffffff;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#hero p{
    color: white;
}

#container {
    /* background-image: url("img/bg1.jpg");  */
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
