@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html{
    scroll-behavior: smooth;
    background-color: #F9F6EE;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

body{
    width: 100%;
    overflow-x: hidden;
}


/* Navbar */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #FAF9F6;
    box-shadow: 0 5px 15px rgba(64, 255, 0, 0.06);
    background-color: rgb(255, 255, 255)0.7; /* Adjust the last value (0.7) for opacity */
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 0 0 20px;
    position: relative;
    margin: 30px;
}

#navbar li a{
    text-decoration: none;
    position: relative;
    font-size: 20px;
    font-weight: 600px;
    color: #515151;
    transition: 0.3s ease;
}

a .logobendera{
    max-width: 20px;
    padding-top: 8px;
}

#navbar li a::before{
    content: '';
    position: absolute;
    background: #7dff13;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

#navbar li a:hover:before{
    width: 100%;
}

#header .logo{
    max-width: 200px;
    max-height: 180px;
}

#navbar li a.active {
    font-weight: 500;
    color: #7dff13;
}

/* Add this to your styles.css */

.toggle-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.toggle-btn i {
    font-size: 24px;
    color: #333; /* Adjust color as needed */
}

/* Style the icon on hover if desired */
.toggle-btn:hover i {
    color: #555; /* Adjust hover color as needed */
}

/* popup */
/* Modal Popup Styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: hidden;
    backdrop-filter: blur(5px); /* Background blur effect */
}

.modal.show {
    display: block; /* Show the modal */
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%; /* Change max-width to fit content */
    width: auto;
    background-color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content img{
    max-width: 100%;
    height: auto;
}

.close {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
    width: 40px; /* Set width of the close button */
    height: 40px; /* Set height of the close button */
    border: 1px solid #777; /* Add black border */
    border-radius: 50%; /* Make it round */
    background-color: white; /* Set background color to white */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px; /* Increase font size */
}

/* Disable scrolling when modal is open */
body.modal-open {
    overflow: hidden;
}

/* CSS for mobile devices */
@media only screen and (max-width: 600px) {
    .modal-content img {
        max-width: 100%;
        height: auto;
    }

    /* Change the image source for mobile devices */
    .modal-content img {
        content: url('img/PERHATIAN.png');
    }
}


/* hero, about page */

#hero {
    background-image: url("img/bg1.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 5px;
    color: white;
}

#hero h1{
    color: #ffffff;
    font-size: 75px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#hero p{
    color: white;
}

#container {
    /* background-image: url("img/bg1.jpg");  */
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* New Section Styles */

#new-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

#new-section .left img {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    box-shadow: 2px 2px 4px rgb(58, 58, 58);
}

#new-section .right {
    padding-left: 20px; /* Adjust spacing between left and right divs */
}

#new-section ul {
    list-style: none;
}

#new-section li {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* New Section Styles */

#new-section2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
}

#new-section2 .right img {
    width: 200px; /* Adjust the width as needed */
    height: auto;
    box-shadow: 2px 2px 4px rgb(58, 58, 58);
}

#new-section2 .left {
    padding-left: 20px; /* Adjust spacing between left and right divs */
}

#new-section2 ul {
    list-style: none;
}

#new-section2 li {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


/* career */

#join .join-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px;
    background:linear-gradient(180deg, #73BF41, #F9F6EE);
    justify-content: space-evenly;
    align-items: center;
}

#join .join-container .join-txt{
    max-width: 500px;
    justify-content: center;
    align-items: center;
    text-align: center;
}


#join .join-container .join-txt .job-btn{
    max-width: 250px;
    border-radius: 8px;
    background-color: whitesmoke;
    border: solid 2px #73BF41;
    font-size: 25px;
    color: #73BF41;
    padding: 0px 15px;
    margin: 10px;
    transition-duration: 0.4s;
}

#join .join-container .join-txt .job-btn:hover{
    max-width: 250px;
    background-color: #73BF41;
    font-size: 25px;
    color: whitesmoke;
    transform: scale(1.05);
    letter-spacing: 0.1;
    cursor: pointer;
}

#join .join-container .join-img img{
    max-width: 500px;
}

#career-content{
    display: flex;
    background-color: #F9F6EE;
    text-align: center;
    padding: 0px 50px;
}
/* Specific styles for the about.html page */

#about {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 50px;
    /* background: linear-gradient(180deg, #73BF41, #EDF3A8); */
}

.slider-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 100px;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);

}

.slide {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
}

.slider-controls {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid gainsboro;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bullet.active {
    background-color: #1eff43;
    box-shadow: #fff;
}

.content-1 {
    padding: 50px;
    justify-content: center;
}

/* about page */

#abt-us .abt-ctn{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 100px;
    background: #F9F6EE;
    justify-content: space-evenly;
    align-items: center;
}

#abt-us .abt-ctn .abt-txt{
    color: #93C572;
    max-width: 750px;
}

#abt-us .abt-ctn .abt-img img{
    max-width: 450px;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
    border-radius: 20px;
}

/* #timeline{
    background-color: #F9F6EE;
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
}

#timeline .tl-ctn{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background-color: #93C572;
}

#timeline .tl-ctn img{
    max-width: 300px;
    justify-content: center;
    text-align: center;
}

#timeline .tl-ctn .tl-txt{
    padding: 20px 30px;
    background: wheat;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}

.left-ctn{
    left: 0;
}

.right-ctn{
left: 50%;
} */

/* core value */

#value{
    padding: 100px;
}

#value h2{
    text-align: center;
}

.value-row{
    display: flex;
    flex-direction: column;
    background-color: #73BF41;
    opacity: 75%;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);
    padding: 50px;
}

#value .value-col{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    flex-wrap: wrap;
}

.value-anagram{
    width: 75px;
    height: 75px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
    background-color: #F9F6EE;
    border-radius: 12px;
    margin-bottom: 10px;
}

.value-txt{
    background-color: #F9F6EE;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
}
/* timeline */

#timeline-section {
    background-color: #F9F6EE;
    min-height: 100vh;
    padding: 100px 15px;
}

#timeline-section h2{
    text-align: center;
    margin-bottom: 50px;
}

.timeline-items {
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #93C572;
    left: calc(50% - 1px);
}

.timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.timeline-item:last-child {
    margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
    padding-right: calc(50% + 30px);
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: calc(50% + 30px);
}

.timeline-dot {
    height: 16px;
    width: 16px;
    background-color: #73BF41;
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}

.timeline-date {
    font-size: 18px;
    color: #73BF41;
    margin: 6px 0 15px;
    font-weight: bold;
}

.timeline-content {
    background-color: #93C572;
    padding: 30px;
    border-radius: 5px;
}

.timeline-content h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 10px;
    text-transform: capitalize;
    font-weight: 500;
}

.timeline-content p {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

/* responsive */
@media (max-width: 767px) {
    .timeline-items::before {
        left: 7px;
    }
    
    .timeline-item:nth-child(odd) {
        padding-right: 0;
        text-align: left;
    }
    
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        padding-left: 37px;
    }
    
    .timeline-dot {
        left: 0;
    }
}

/* CSS for map section */
#map{
    margin: 0 100px 100px 100px;
    padding: 30px;
}

#map h2{
    text-align: center;
    margin-bottom: 50px;
}

#map .map-ctn{
    display: flex;
    justify-content: space-evenly; /* Distribute items evenly along the main axis */
    align-items: center; /* Center items along the cross axis */
    flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
}

/* CSS for each map container */
.map-ho,
.map-site {
    flex: 1; /* Grow to take up equal space */
    margin: 10px; /* Add spacing between maps */
}

/* CSS for embedded maps */
.map-ho iframe,
.map-site iframe {
    width: 100%; /* Take up 100% width of their parent container */
    height: 450px; /* Set a fixed height */
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 0 10px 15px rgba(0,0,0,.3);

}

.map-ho h3, 
.map-site h3{
    text-align: center;
    margin-bottom: 20px;
}

#goals{
    background-color: #F9F6EE;
}

.goals-ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.visi{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.misi{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

.garisvm {
    border-color: #93C572;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 30%;
}

footer{
    width: 100%;
    position: absolute;
    bottom: 1;
    background: linear-gradient(360deg, #93C572, #EDF3A8);
    color: #fff;
    padding: 50px 0 30px;
    border-top-left-radius: 105px ;
    border-top-right-radius: 105px;
    font-size: 13px;
    line-height: 20px;
    /* border: 2px solid black; */
    box-shadow: 0px 5px 6px rgba(242, 255, 168, 0.5) inset;
}

footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

} 

footer .row .footer-logo{
    width: 250px;
}

footer .row .col p{
    color: #fff;
}

footer .row .col ul li{
    list-style: none;
    margin-bottom: 10px;
}

footer .row .col ul li a {
    transition: transform 0.3s ease; /* Added transition property */
    display: block; 
}

footer .row .col ul li a:hover {
    transform: scale(1.05);
    /* color: black; */
}

footer .row .col ul .contactner{
    list-style: none;
    margin-bottom: 10px;
}

footer .row .col ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

footer .col{
    flex-basis: 25%;
    padding: 10px;
}

footer .col h3{
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
    font-size: 18px;
}

footer .col:nth-child(2), footer .col:nth-child(3){
    flex-basis: 15%;
}

footer .row .col .icon-container{
    display: flex;
    flex-direction: row;
}

footer .row .col ul .icon-socmed i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    border: 2px solid #fff;
    color: #fff;
    background: transparent;
    margin-right: 15px;
    border-color: 10px solid black;
    cursor: pointer;
}

footer .row .col ul .icon-socmed i:hover{
    color: #73BF41;
    background-color: #fff;
    transition: 0.3s ease;
    transform: scale(1.05);
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.copyright p{
    font-size: 15px;
    color: #fff;
}

.job-container{
    background:linear-gradient(360deg,#F9F6EE, #73BF41, #F9F6EE);
    padding:15px 9%;
    padding-bottom: 100px;
}

.job-container .heading{
    text-align: center;
    padding-bottom: 15px;
    color:black;
    text-shadow: 0 5px 10px rgba(0,0,0,.2);
    font-size: 50px;
}

.job-container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.job-container .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding:30px 20px;
}

.job-container .box-container .box img{
    height: 80px;
}

.job-container .box-container .box h3{
    color:#444;
    font-size: 22px;
    padding:10px 0;
}

.job-container .box-container .box p{
    color:#777;
    font-size: 15px;
    line-height: 1.8;
}

.job-container .box-container .box .btn{
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.job-container .box-container .box .btn:hover{
    background: #fff;
    color: #222;
    border: 1px solid #222;
    cursor: pointer;
}

.job-container .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.02);
    transition: 0.3s ease;
}


@media (max-width:768px){
    .container{
        padding:20px;
    }
}
/* media query */

@media screen and (max-width: 1450px) {
    /* Adjust breakpoint as needed */

    #header {
        padding: 20px;
    }

    #navbar {
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px; /* Adjust as needed */
        left: 0;
        width: 100%;
        background-color: #F9F6EE;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

    #navbar.active {
        display: flex;
    }

    #navbar li {
        padding: 20px 0;
        margin: 0;
    }

    #navbar li a {
        font-size: 18px;
    }

    #header .logo {
        position: absolute;
        top: 20px;
        left: 20px;
    }
}
